@media screen and (min-width:1025px){

  body{
    padding:20px;
  }

  main{
    display:flex;
    gap:20px;
  }

  #input-section{
    width:30%;
  }

  #chart-section{
    width:70%;
    height:400px;
  }

}