@media screen and (min-width:769px) and (max-width:1024px){

  body{
    padding:15px;
  }

  main{
    flex-direction:column;
  }

  #input-section,
  #chart-section{
    width:100%;
  }

  #chart-section{
    height:350px;
  }

}