input,
select,
button{
  width:100%;
  padding:12px;
  margin-bottom:12px;
  border-radius:8px;
}

input,
select{
  border:1px solid #ddd;
}

button{
  border:none;
  background:#2563eb;
  color:white;
  cursor:pointer;
}

button:hover{
  opacity:.9;
}

table{
  width:100%;
  border-collapse:collapse;
}

